body{
    float: left;
}


.container{
    border: 3px solid rgb(176, 187, 250);
    background-color: rgb(177, 212, 252);
    margin: auto;
    font-family: verdana, sans-serif;
    font-weight:bold;
    margin: 1px 1px 1px 1px;
    align-items: center;
    margin: 1px 1px 1px 1px;
    padding: 15px;
    text-align: center;
    width: 200px;
    height: auto;
    display: block;
    color: rgb(0, 3, 153);
}

.day{
    display: block;
    width: 215px;
    float: left;
    height: 400px;
    text-align: center
}
.d2{
    border-left: 3px solid rgb(176, 187, 250);
    border-right: 3px solid rgb(176, 187, 250);
}

.containerThreeDays {
    display: contents;
    border: 3px solid rgb(176, 187, 250);
    background-color: rgb(177, 212, 252);
    margin: auto;
    font-family: verdana, sans-serif;
    font-weight:bold;
    margin: 1px 1px 1px 1px;
    align-items: center;
    margin: 1px 1px 1px 1px;
    padding: 15px;
    text-align: center;
    width: 651px;
    height: auto;
    display: block;
    color: rgb(0, 3, 153);
}
.containerThreeDaysClose{
    display: none;
}

button {
    font-weight: 800;
    color: rgb(0, 3, 153);
    padding: .8em 1em calc(.8em + 3px);
    border: initial;
    border-radius: 5px;
    background: rgb(149, 177, 253);
} 
button:hover { 
    background: rgb(170, 181, 253);
}
button:active {
    background: rgb(126, 146, 255);
}

.buttonClose{
 width: auto;
}